body {
    font-family: "Courier New", monospace;
    text-align: center;
    background-color: #000000;
    margin: 0;
    color: white;
}
#model {
    padding: 2em 0;
    background-color: #000000;
}
#story {
    margin: 2em;
    padding: 2em;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
iframe {
    filter: brightness(1.5);
}